
.clase{
    text-align: right;
}

#caja{
  width: 300px;
  border: 15px solid rgb(161, 211, 161);
  padding: 20px;
  margin: 20px;
}

.carousel {
  width: auto;
  height: auto;
  margin: 0 auto;
  
}
body{
  background-color:rgb(117, 196, 150);
  color: rgb(0, 0, 0);
  margin: auto;
}
.div-margen{
  width: auto;
  height: auto;
  margin: 0 auto;
  
}